.lockedview{
    margin: 0 auto;
}
.lockedview {
    margin: 0 auto;
    text-align: center;
}
.locked_button_wrap {
    display: flex;
    justify-content: center;
}
div#payment_form {
    position: fixed;
    background: #000000b5;
    top: 0;
    left: 0;
    z-index: 9999;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: none;
}
